plugins
upgrade
uploads
themes/twentytwentythree
themes/portfolio/node_modules
themes/portfolio/package-lock.json
themes/portfolio/style.css.map
db-error.php
wordfence-waf.php
wordfence-waf.php
wflogs