.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-header {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	max-width: 700px;
	margin: auto;
    padding: 10px 25px 50px 25px;
}

a {
	text-decoration: none;

}
a:hover, a:focus {
	text-decoration: underline;
}

.animation-content {
	visibility: hidden;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0);
	  }
	  50% {
		transform: translateY(-20px);
	  }
}

.bounce-animation {
animation: bounce 3s ease infinite;
}

@keyframes fade-down {
	0% {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

.fade-down {
	animation: fade-down 2s ease;
}

// Wave Background
.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	vertical-align: middle;
	overflow: hidden;
	> svg {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.site-main {
	z-index: 1;
	position: inherit;
}